html.boxshadow {
  /* background:url(_/img/ie-shadow.png) 50% repeat-y; */ }

body {
  background: url(_/img/body-bg.png) 0 65px repeat-x; }

a {
  padding: 1px 2px;
  text-decoration: none; }
  a:hover {
    color: #fff700;
    background-color: #0073ea; }

#page-wrap {
  margin: auto;
  background: url(_/img/wrap-bg.png) 100% repeat-y;
  border-style: solid;
  border-color: #fff;
  border-left-width: 10px;
  border-right-width: 10px; }

#header {
  position: relative;
  height: 400px;
  margin: auto;
  background: #fff;
  border-style: solid;
  border-color: #fff;
  border-top-width: 5px;
  border-left-width: 5px;
  border-right-width: 5px; }
  #header .nav {
    width: 960px;
    height: 52px;
    position: absolute;
    top: 51px;
    left: -5px;
    background: url(_/img/header-nav-bg.png) repeat-x; }
    #header .nav ul {
      margin: auto 10px; }
    #header .nav li {
      display: inline; }
    #header .nav a {
      line-height: 52px;
      color: #fff;
      font-weight: bold;
      font-size: 20px; }
      #header .nav a:hover {
        background-color: #000; }
  #header .con {
    height: 100%;
    background: url(_/img/wrap-bg.png) 100% repeat-y; }
  #header #searchform {
    float: right;
    padding: 10px; }
    #header #searchform #s:focus {
      background-color: #fffdd0;
      font-weight: bold;
      border: 1px solid #ff0800; }
    #header #searchform #searchsubmit {
      font-weight: bold;
      border: none;
      padding: 5px 8px; }
      #header #searchform #searchsubmit:hover {
        color: #fff;
        background-color: #000; }

#content {
  height: 100%;
  background: url(_/img/wrap-bg.png) 100% repeat-y;
  padding: 0 5px;
  border-style: solid;
  border-color: #fff;
  border-left-width: 5px;
  border-right-width: 5px; }

#lessons {
  width: 75%;
  float: left; }
  #lessons .post {
    margin-right: 10px;
    padding: 10px; }
    #lessons .post:hover {
      background-color: #fffadc; }
    #lessons .post h2 {
      font-size: 16px; }
  #lessons .post h1 {
    font-size: 16px; }

#respond h2 {
  display: inline-block;
  background-color: #ffe28a;
  padding: 1px 2px; }

#commentform p {
  margin: 5px 0; }

#comment {
  border: 1px solid #ccc;
  padding: 5px; }
  #comment:focus {
    border: 1px solid #ff0800; }

#submit {
  margin-top: 5px;
  border: none;
  padding: 5px 10px;
  background-color: #e3e3e3; }
  #submit:hover {
    color: #fff;
    background-color: #000; }

#sidebar {
  /* background-color:#edf3f3; */
  width: 25%;
  float: left; }
  #sidebar .widget {
    text-align: right;
    padding: 10px 5px 0 0; }
    #sidebar .widget h2 {
      font-size: 15px;
      margin-bottom: 5px; }
  #sidebar .widget_categories {
    font-size: 14px; }

#s {
  padding: 5px;
  border: 1px solid #ccc; }

#footer {
  padding: 10px 5px;
  background-color: #fff;
  text-align: right; }

.boxshadow #page-wrap .container {
  box-shadow: 0 0 60px 30px #ccc; }
