a {
  padding: 0 2px 1px;
  text-decoration: none; }
  a:hover {
    color: #fff700;
    background-color: #0073ea; }

textarea, input, img {
  padding: 3px;
  background: #fff;
  background: url(_/img/hd-bg-200-h.png) repeat-x 0 0, url(_/img/hd-bg-200-v.png) repeat-y 0 0, url(_/img/hd-bg-200-h.png) repeat-x 0 100%, url(_/img/hd-bg-200-v.png) repeat-y 100% 0; }

img#logo {
  padding: 0;
  background: none; }

#page-wrap {
  margin: auto; }
  #page-wrap .container {
    width: 960px;
    margin: auto;
    padding: 0 2px;
    background: #fff;
    background: url(_/img/hd-bg-200-v.png) repeat-y 0 0, url(_/img/hd-bg-200-v.png) repeat-y 100% 0; }

#header {
  margin: auto;
  background: #fff; }
  #header .info {
    float: left;
    text-align: right; }
    #header .info h1 {
      display: inline;
      margin-left: 2px; }
      #header .info h1 a {
        padding: 0;
        overflow: hidden;
        background: none; }
    #header .info .description {
      display: inline;
      margin-left: 6px;
      font-size: 16px; }
  #header #menu-main {
    width: 960px;
    background: #000;
    background: url(_/img/hd-bg-200-h.png) repeat-x 0 0, url(_/img/hd-bg-200-h.png) repeat-x 0 100%;
    text-align: center; }
    #header #menu-main li {
      width: 100px;
      color: #191919;
      height: 50px;
      line-height: 50px;
      text-align: center;
      overflow: hidden;
      display: inline;
      margin: 20px; }
    #header #menu-main li.current-menu-item a {
      color: #ff2052; }
    #header #menu-main a {
      color: #000;
      text-decoration: none;
      font-size: 20px; }
      #header #menu-main a:hover {
        background: none;
        color: #ff2052; }

#lessons {
  width: 75%;
  float: left; }
  #lessons .post, #lessons .log {
    margin-right: 10px;
    padding: 10px; }
    #lessons .post:hover, #lessons .log:hover {
      background-color: #f4f0ec; }
    #lessons .post h2, #lessons .log h2 {
      font-size: 16px;
      margin-bottom: 4px; }
      #lessons .post h2 a, #lessons .log h2 a {
        color: #ff2052;
        padding: 3px;
        background: #000;
        background: url(_/img/hd-bg-200-h.png) repeat-x 0 0, url(_/img/hd-bg-200-v.png) repeat-y 0 0, url(_/img/hd-bg-200-h.png) repeat-x 0 100%, url(_/img/hd-bg-200-v.png) repeat-y 100% 0; }
        #lessons .post h2 a:hover, #lessons .log h2 a:hover {
          color: #fff;
          background-color: #ff2052; }
    #lessons .post .postmetadata, #lessons .post .meta, #lessons .log .postmetadata, #lessons .log .meta {
      margin-top: 5px; }
      #lessons .post .postmetadata .tags a, #lessons .post .meta .tags a, #lessons .log .postmetadata .tags a, #lessons .log .meta .tags a {
        font-weight: bold;
        color: #fff;
        background-color: #0073ea; }
        #lessons .post .postmetadata .tags a:hover, #lessons .post .meta .tags a:hover, #lessons .log .postmetadata .tags a:hover, #lessons .log .meta .tags a:hover {
          background-color: #ff2052; }
  #lessons .post h1 {
    font-size: 16px; }
  #lessons .navigation {
    margin-top: 10px; }
    #lessons .navigation a {
      padding: 2px 0;
      background: url(_/img/hd-bg-200-h.png) repeat-x 0 0, url(_/img/hd-bg-200-h.png) repeat-x 0 100%; }
      #lessons .navigation a:hover {
        color: #ff2052; }

.home #lessons .post:hover, .home #lessons log:hover {
  background: url(_/img/hd-bg-200-h.png) repeat-x 0 0, url(_/img/hd-bg-200-v.png) repeat-y 100% 0, url(_/img/hd-bg-200-h.png) repeat-x 0 100%; }
.home #lessons #post-1:hover {
  background: url(_/img/hd-bg-200-v.png) repeat-y 100% 0, url(_/img/hd-bg-200-h.png) repeat-x 0 100%; }

.single #lessons .post, .single #lessons log {
  background: url(_/img/hd-bg-200-v.png) repeat-y 100% 0, url(_/img/hd-bg-200-h.png) repeat-x 0 100%; }

.page #lessons .post, .single #lessons .post {
  background-color: #f4f0ec; }

#respond h2 {
  display: inline-block;
  background-color: #ffe28a;
  padding: 1px 2px; }

#commentform p {
  margin: 5px 0; }

#commentform input, #comment {
  border: none;
  margin: 0 0 5px; }

#submit {
  margin-top: 5px;
  border: none;
  padding: 5px 10px;
  background-color: #e3e3e3; }
  #submit:hover {
    color: #fff;
    background-color: #000; }

#sidebar {
  width: 25%;
  float: left; }
  #sidebar .widget {
    text-align: right;
    padding: 10px 5px 0 0; }
    #sidebar .widget h2 {
      font-size: 15px;
      margin-bottom: 5px; }
  #sidebar .widget_categories {
    font-size: 14px; }
  #sidebar .tagcloud a {
    display: inline-block; }

#aboutus {
  width: 600px;
  margin-left: 80px; }
  #aboutus .about {
    margin-bottom: 44px; }

#we .me {
  margin-bottom: 20px; }
  #we .me .name {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 6px; }
  #we .me img {
    float: left;
    margin-right: 4px; }

#s {
  padding: 5px;
  border: 1px solid #ccc; }

#footer {
  padding: 10px 0;
  text-align: right; }
  #footer #menu-footer {
    background: url(_/img/hd-bg-200-h.png) repeat-x 0 0, url(_/img/hd-bg-200-h.png) repeat-x 0 100%;
    padding: 5px 130px 5px 0;
    text-align: right; }
    #footer #menu-footer li {
      display: inline;
      margin-left: 20px; }
    #footer #menu-footer a {
      font-size: 14px;
      background: #000;
      color: #fff; }
      #footer #menu-footer a:hover {
        background: #ff2052; }

#tags {
  margin: 15px 10px 0 0;
  text-align: right; }
  #tags a {
    padding: 3px 5px;
    font-weight: bold;
    margin-bottom: 5px;
    display: inline-block;
    color: #ff2052;
    background: url(_/img/hd-bg-200-h.png) repeat-x 0 0, url(_/img/hd-bg-200-v.png) repeat-y 0 0, url(_/img/hd-bg-200-h.png) repeat-x 0 100%, url(_/img/hd-bg-200-v.png) repeat-y 100% 0; }
    #tags a:hover {
      color: #000; }

/* admin bar */
#wp-admin-bar-login ul li a {
  padding: 5px 15px 5px 50px !important;
  min-width: 0 !important; }

#wp-admin-bar-login-st a {
  background: url(_/img/menu-icon-st.png) no-repeat 10px 50% !important; }

#wp-admin-bar-login-qt a {
  background: url(_/img/menu-icon-qt.png) no-repeat 10px 50% !important; }

#wp-admin-bar-login-db a {
  background: url(_/img/menu-icon-db.png) no-repeat 10px 50% !important; }

#wp-admin-bar-login-ff a {
  background: url(_/img/menu-icon-ff.png) no-repeat 10px 50% !important; }

/* ie */
.no-multiplebgs #header #menu-main li a {
  color: #fff; }
  .no-multiplebgs #header #menu-main li a:hover {
    color: #fff;
    text-decoration: underline; }
.no-multiplebgs #lessons .post h2 a, .no-multiplebgs #lessons log h2 a {
  background: none; }
  .no-multiplebgs #lessons .post h2 a:hover, .no-multiplebgs #lessons log h2 a:hover {
    background: #ff2052; }
.no-multiplebgs #lessons .navigation a:hover {
  color: #fff; }
.no-multiplebgs #commentform input, .no-multiplebgs #commentform textarea {
  border: 1px solid #666; }
.no-multiplebgs #footer {
  color: #fff;
  background: #000; }
  .no-multiplebgs #footer #menu-footer {
    border-top: 2px solid #777;
    border-bottom: 2px solid #777; }
.no-multiplebgs #tags a {
  border: 1px solid #666; }
  .no-multiplebgs #tags a:hover {
    color: #fff;
    background: #ff2052; }
