html.no-boxshadow {
  background: url(_/img/ie-shadow.png) 50% repeat-y; }

body {
  background: url(_/img/body-bg.png) 0 65px repeat-x; }

a {
  padding: 1px 2px;
  text-decoration: none; }
  a:hover {
    color: #fff284;
    background-color: #0073ea; }

#page-wrap {
  margin: auto;
  background: url(_/img/wrap-bg.png) 100% repeat-y;
  border-style: solid;
  border-color: #fff;
  border-left-width: 10px;
  border-right-width: 10px; }

#header {
  position: relative;
  height: 400px;
  margin: auto;
  background: url(_/img/header-bg.png) repeat-x;
  border-style: solid;
  border-color: #fff;
  border-top-width: 5px;
  border-left-width: 5px;
  border-right-width: 5px; }
  #header .nav {
    width: 960px;
    height: 52px;
    position: absolute;
    top: 51px;
    left: -5px;
    background: url(_/img/header-nav-bg.png) repeat-x; }
    #header .nav ul {
      margin: auto 10px; }
    #header .nav li {
      display: inline; }
    #header .nav a {
      line-height: 52px;
      color: #fff;
      font-weight: bold;
      font-size: 20px; }
      #header .nav a:hover {
        background-color: #f00; }

#content {
  border-style: solid;
  border-color: #fff;
  border-left-width: 5px;
  border-right-width: 5px; }

#lessons {
  width: 75%;
  float: left; }

#sidebar {
  width: 25%;
  float: left; }

#s {
  padding: 5px;
  border: 1px solid #ccc; }

.boxshadow #header {
  box-shadow: 0 -65px 60px 30px #cccccc; }
